main {
    width: 80%;
    margin: 1rem auto;
}

li:nth-of-type(even) {
    background-color: #eee;
}

span.hikeName[contenteditable="true"] {
    border: 0.25rem solid #aaa;
}

span.hikeName {
    margin: 0 0.75rem;
}

.template {
    display: none;
}

li.favorite {
    background-color: #ffae00;
}

li:nth-of-type(even).favorite {
    background-color: #c68700;
}

.button-group {
    margin: 0;
}

.button-group .button {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.delete {
    background-image: url("delete.png");
}

.star {
    background-image: url("star.png");
}

.up {
    background-image: url("chevron-up.png");
}

.down {
    background-image: url("chevron-down.png");
}

.rename {
    background-image: url("pencil.png");
}